<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body>
        <% include ../components/universalHeader.html %>
        <div id="container">
            <div id="wrap">
                <div class="navigation">
                {% block sidenav %}
                {% endblock sidenav %}
                </div>
                <div class="content" data-spy="scroll" data-target=".navbar-spy">
                {% block docscontent %}
                {% endblock docscontent %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>