<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body>
        <% include ../components/universalHeader.html %>
        <div id="container">
            <div id="wrap">
                <div class="navigation">
                {% block sidenav %}
                {% endblock sidenav %}
                </div>
                <div class="content">
                {% block docscontent %}
                {% endblock docscontent %}
                </div>
				
            </div>
        </div>
		<div class="docs-contribute">
			Want to edit or contribute to the docs?  <a class="github-button" href="https://github.com/spoonium/docs/" target="_tab">  <i class="fa fa-github"></i> Edit on Github  </a>
		</div>
        {% include "footer.html" %}
    </body>
</html>