<h1>Documentation</h1>
<ul>
{% for t in doc_template.topics %}
  {% if t.display_name == intopic.display_name %}
  <li class="active">
    <a href="/docs/{{ t.get_link_name() }}">{{ t.display_name }}</a>
    <div class="navbar-spy">
      <ul class="nav" role="tablist">
        {% for s in t.sections %}
        <li><a href="#{{ s.id }}">{{ s.display_name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </li>
  {% else %}
  <li><a href="/docs/{{ t.get_link_name() }}">{{ t.display_name }}</a></li>
  {% endif %}
{% endfor %}
</ul>